letters = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
letters = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
letters[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
letters[7:3:-1]

[7, 6, 5, 4]

---

In [11]:
import scrapy

In [12]:
import numpy as np

---

In [13]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [16]:
expenses = np.array(expenses)

In [17]:
revenue = np.array(revenue)

In [18]:
profit = revenue - expenses

In [19]:
profit

array([ 2522.67,  1911.39, -3707.79, -2914.31,  -599.92,  7265.24,
        8210.55,  3944.97,  3328.39, -2238.65,   659.6 , 11629.54])

In [20]:
profitAfterTax = profit*0.7

In [21]:
profitAfterTax

array([ 1765.869,  1337.973, -2595.453, -2040.017,  -419.944,  5085.668,
        5747.385,  2761.479,  2329.873, -1567.055,   461.72 ,  8140.678])

---